* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.recommend,
.login,
.signup {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-image: url('/images/about-us.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  color: #fff;
  font-size: 100px;
}

.recommend {
  background: #dbe5e6;
}

.login {
  background-image: url('/images/Roommates.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.signup {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('/images/signup-bgd.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.home {
  background-image: url('/images/home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  
}

.rowC{display:table-row; flex-direction:row;}

.crop {
  
  height: 150px;
  overflow: hidden;
  
}

.round-img { 
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin-left: auto;
    margin-right: auto;
}


#facilities {
  background-color: #dbe5e6;
  padding: 30px 0px;
  min-height: 100vh;
}

#facilities h1{
  font-weight: 900;
  font-size: 34px;
  padding-bottom: 5px
}

.my-font{
  font-size: 80px;
}




